<!-- <ion-view view-title="Time Lapse" class="timelapse" cache-view="false" ng-if="!ctrl.bulbMode"> -->
<ion-view view-title="{{ctrl.titleValue}}" class="timelapse" cache-view="false">
  <ion-content class="has-header" scroll="false">
    <ion-slide-box
      ng-init="ctrl.disableSwipe(false)"
      show-pager="false"
      delegate-handle="time-lapse-directive"
    >
      <!-- TL Slide 1 -->
      <ion-slide>
        <div class="timelapse-container col">
          <div ng-class="!ctrl.model1.settings.isActive && !ctrl.showPreview ? 'animated fadeIn' : 'hide'">
            <div
              class="preset-name"
              ng-if="ctrl.presetModel.settings.presetName.length"
            >
              <div class="row row-center center text-center gotham-bold blue">
                {{ctrl.presetModel.settings.presetName}}
              </div>
            </div>
            <div
              class="row row-center center text-center gotham-book"
              ng-if="ctrl.bulbMode"
            >
              <div
                class="
                  row row-center
                  center
                  text-center
                  gotham-book
                  margin-class-gotham-book
                "
                ng-if="ctrl.model1.settings.isTimed"
              >
                Interval should be 1.5 times Exposure Time
              </div>
            </div>
            <div class="gotham-light">
              <div class="row row-center center text-center gotham-light">
                Interval
              </div>
              <div class="row row-center center text-center incrementer-spacer">
                <div ng-if="ctrl.bulbMode">
                  <timelapseincrementer
                    ng-model="tlSettings.interval"
                    initval="{{tlSettings.interval}}"
                    postfix="s"
                    min="1"
                    max="1200"
                    swipe-interval="50"
                    incrementer-name="timelapse"
                    ng-change="ctrl.changeExposureTime(tlSettings.interval)"
                  ></timelapseincrementer>
                </div>
                <div ng-if="!ctrl.bulbMode">
                  <timelapseincrementer
                    ng-model="tlSettings.interval"
                    initval="{{tlSettings.interval}}"
                    postfix="s"
                    min="1"
                    max="1200"
                    swipe-interval="50"
                    incrementer-name="timelapse"
                    ng-change="ctrl.changeExposureTime(tlSettings.interval)"
                  ></timelapseincrementer>
                </div>
              </div>

              <div
                class="
                  row row-center
                  center
                  text-center
                  gotham-light
                  incrementer-header
                  margin-class-duration
                "
              >
                Duration
              </div>
              <div
                class="row row-center center text-center incrementer-spacer"
                style="font-size:12px !important;"
              >
                <timeincrementer
                  minute-transition="true"
                  ng-model="tlSettings.duration"
                  inithour="{{tlSettings.duration.hours}}"
                  postfix="h"
                  min="0"
                  max="23"
                  min2="{{ctrl.minMinute}}"
                  max2="59"
                  initminute="{{tlSettings.duration.minutes}}"
                  infinity="true"
                  swipe-interval="50"
                  time-incrementer-name="timelapse"
                  imgpath="img/infinity.svg"
                ></timeincrementer>
              </div>

              <div ng-if="ctrl.bulbMode">
                <!-- <div class="row row-center center text-center gotham-book"> -->
                <div
                  class="
                    row row-center
                    center
                    text-center
                    gotham-book
                    margin-class-exposure
                  "
                  ng-if="ctrl.model1.settings.isTimed"
                >
                  Exposure Time
                </div>
                <!-- </div> -->
                <div
                  class="row row-center center text-center picker"
                  ng-if="ctrl.model1.settings.isTimed"
                >
                  <timeincrementerexposure
                    swipe-interval="50"
                    ng-model="duration.timed"
                    inithour="{{ctrl.model1.duration.timed.hours}}"
                    minute-transition="true"
                    postfix="m"
                    postfix2="S"
                    initial-selection="minutes"
                    min="0"
                    max="60"
                    min2="0"
                    max2="59"
                    initminute="{{ctrl.model1.duration.timed.minutes}}"
                    ng-change="ctrl.changeIntervalTime(duration.timed)"
                  ></timeincrementerexposure>
                </div>
              </div>

              <!-- <div class="gotham-light vertically-center white"> -->
              <div
                class="
                  row row-center
                  center
                  text-center
                  delay
                  margin-class-enable-delay
                "
              >
                <ion-toggle
                  ng-model="tlSettings.activeDelay"
                  ng-checked="tlSettings.activeDelay"
                  class="grey"
                >
                  Enable Delay
                </ion-toggle>
              </div>
              <div
                class="row row-center center text-center picker"
                ng-if="ctrl.timelapseModel.timelapses[ctrl.dId].settings.activeDelay"
              >
                <timeincrementer
                  swipe-interval="50"
                  minute-transition="true"
                  ng-model="tlSettings.delay"
                  inithour="{{tlSettings.delay.hours}}"
                  postfix="h"
                  postfix2="m"
                  min="0"
                  max="24"
                  min2="0"
                  max2="59"
                  initminute="{{tlSettings.delay.minutes}}"
                  time-incrementer-name="delay"
                ></timeincrementer>
              </div>
              <div class="toggle-contain text-center all-camera-toggle" ng-if="ctrl.isMoreThanOneDeviceConnected()">
                <ion-toggle ng-model="ctrl.isAllCamera" ng-checked="ctrl.isAllCamera" class="grey" ng-change="ctrl.setAllCameras()">
                  All Cameras
                </ion-toggle>
              </div>
<!--              <ion-scroll  direction="xy" class="allcamera-scroll">
                <div class="custom-radio-list">
                  <ion-list ng-if="ctrl.localStorageDevices" >
                    <div class="row" style="flex-wrap: wrap" ng-if="ctrl.isMoreThanOneDeviceConnected()">
                      <div class="col col-50" ng-repeat="localStorageDevice in ctrl.localStorageDevices" ng-if="localStorageDevice">
                        <ion-radio ng-if="ctrl.getCameraModel(localStorageDevice) != 'Not Connected' && ctrl.getCameraModel(localStorageDevice) != 'Charging'" ng-model="ctrl.isMainDevice" ng-value="localStorageDevice.id" style="color: #fff; margin-left: 10px; margin-right: 10px; font-size: 14px !important" ng-click="ctrl.setNewDevice(localStorageDevice, $event)"> {{ctrl.getCameraModel(localStorageDevice)}}</ion-radio>
                      </div>
                    </div>
                  </ion-list>
                </div>
              </ion-scroll>
              </div> -->
            </div>
          </div>

          <div
            class="page-2"
            ng-class="ctrl.model1.settings.isActive ? 'animated fadeIn' : 'hide'"
          >
            <div class="bulb-container">
              <div class="text-center gotham-book">
                <div class="progress-container col">
                  <div class="progress-wrapper">
                    <div class="percentage gotham-light">
                      {{ctrl.model1.duration.animationValues.currentTimelapse}}
                      <span>%</span>
                    </div>
                    <div
                      animation-delay="0"
                      animation="easeInOutQuart"
                      bgcolor="#615f5f"
                      clockwise="true"
                      color="#008bca"
                      current="ctrl.model1.duration.animationValues.current"
                      duration="800"
                      max="ctrl.model1.duration.animationValues.maxTimelapse"
                      radius="65"
                      responsive="false"
                      round-progress
                      stroke="4"
                    ></div>
                  </div>
                </div>
              </div>
              <div class="line-separator"></div>

              <div class="row row-center center text-center gotham-light">
                Exposure Time
              </div>

              <div
                class="status-section gotham-xlight text grey row row-center"
              >
                <div class="text-column col">
                  <div class="row center-row">
                    <div class="row left-photo">
                      <img src="img/photos-white.svg" />
                    </div>
                    <div class="row right-text">
                      <div class="count">{{ctrl.currentCount}}</div>
                      <div class="small-container">
                        <span class="spacer">/</span>
                        <span class="small"
                          >{{ctrl.getTotalPhotosLongExposure()}}</span
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div
                class="status-section gotham-xlight text grey row row-center"
              >
                <!-- <div class="text-column col"> -->
                <div class="row row-center center countdown-timer gotham-thin">
                  <img
                    style="height: 20px; width: 20px"
                    src="img/clock-white.svg"
                  />
                  &nbsp;&nbsp;
                  <div class="count">
                    <timer
                      interval="1000"
                      max-time-unit="minute"
                      autostart="false"
                      start-time="ctrl.timerStart"
                      >{{mminutes}}:{{sseconds}}</timer
                    >
                  </div>
                  <div
                    class="small-container"
                    ng-if="!ctrl.timelapseModel.timelapses[ctrl.dId].settings.duration.isInfinite"
                  >
                    <span class="spacer">/</span>
                    <span class="small">{{ctrl.totalExposureMinutes}}:00</span>
                  </div>
                </div>
                <!-- </div> -->
              </div>

              <div
                class="status-section gotham-xlight text grey row row-center"
              >
                <!-- <div class="text-column col"> -->
                <div class="row row-center center countdown-timer gotham-thin">
                  <img style="height: 20px; width: 20px" src="img/bulb.png" />
                  &nbsp;&nbsp;
                  <div class="count">
                    {{ctrl.cminutes}}:{{ctrl.cseconds}}
                    <!-- <timer interval="1000"  max-time-unit="minute" autostart="false" start-time="ctrl.timerStart"></timer>  -->
                  </div>
                  <div
                    class="small-container"
                    ng-if="!ctrl.timelapseModel.timelapses[ctrl.dId].settings.duration.isInfinite"
                  >
                    <span class="spacer">/</span>
                    <span class="small"
                      >{{ctrl.maxMinutes}}:{{ctrl.maxSeconds}}</span
                    >
                  </div>
                </div>
                <!-- </div> -->
              </div>

              <!--           <div class="bottom-section gotham-thin" ng-if="ctrl.model1.settings.isTimed && ctrl.model1.settings.isActive">
            <div class="line-separator"></div>
          <div class="row row-center center total-time">
            
          </div>
          </div> -->
            </div>
          </div>
        </div>
      </ion-slide>

      <!-- TL Slide 2 -->
      <ion-slide>
        <div class="timelapse-container slide-2">
          <div class="subSlider">
            <ion-slide-box
              show-pager="true"
              on-slide-changed="ctrl.changeSlide($index)"
              active-slide="1"
              delegate-handle="time-lapse-progres-directive"
            >
              <ion-slide>
                <div class="text-center gotham-book">
                  <div
                    class="preset-name"
                    ng-if="ctrl.presetModel.settings.presetName.length"
                  >
                    <div class="row row-center center text-center gotham-bold blue">
                      {{ctrl.presetModel.settings.presetName}}
                    </div>
                  </div>
                  <div
                    class="progress-container col"
                    ng-if="!ctrl.timelapseModel.timelapses[ctrl.dId].settings.duration.isInfinite"
                  >
                    <div class="progress-wrapper">
                      <div class="percentage gotham-light">
                        {{ctrl.timelapseModel.timelapses[ctrl.dId].settings.enumeratingTl.completionPercentage}}
                        <span>%</span>
                      </div>
                      <div
                        animation-delay="0"
                        animation="easeInOutQuart"
                        bgcolor="#615f5f"
                        clockwise="true"
                        color="#008bca"
                        current="ctrl.timelapseModel.timelapses[ctrl.dId].settings.enumeratingTl.completionPercentage"
                        duration="800"
                        max="100"
                        radius="65"
                        responsive="false"
                        round-progress
                        stroke="4"
                      ></div>
                    </div>
                  </div>
                  <div
                    class="infinite-container col"
                    ng-if="ctrl.timelapseModel.timelapses[ctrl.dId].settings.duration.isInfinite"
                  >
                    <img class="infinity" ng-src="img/infinity.svg" />
                  </div>
                  <div class="line-separator"></div>
                  <div
                    class="
                      status-section
                      gotham-xlight
                      text
                      grey
                      row row-center
                    "
                  >
                    <div class="text-column col">
                      <div class="row center-row">
                        <div class="row left-photo">
                          <img ng-src="img/photos-white.svg" />
                        </div>
                        <div
                          class="row right-text"
                          ng-class="(ctrl.timelapseModel.timelapses[ctrl.dId].settings.duration.isInfinite) ? 'push-left' : ''"
                        >
                          <div class="count">
                            {{ctrl.timelapseModel.timelapses[ctrl.dId].settings.enumeratingTl.photos}}
                          </div>
                          <div
                            class="small-container"
                            ng-if="!ctrl.timelapseModel.timelapses[ctrl.dId].settings.duration.isInfinite"
                          >
                            <span class="spacer">/</span>
                            <span class="small"
                              >{{ctrl.model.getTotalPhotos(ctrl.dId)}}</span
                            >
                          </div>
                        </div>
                      </div>
                      <div class="row center-row">
                        <div class="row left-photo">
                          <img ng-src="img/clock-white.svg" />
                        </div>
                        <div
                          class="row right-text"
                          ng-class="(ctrl.timelapseModel.timelapses[ctrl.dId].settings.duration.isInfinite) ? 'push-left' : ''"
                        >
                          <div class="count">
                            {{ctrl.timelapseModel.timelapses[ctrl.dId].settings.enumeratingTl.hours}}:{{ctrl.timelapseModel.timelapses[ctrl.dId].settings.enumeratingTl.minutes}}
                          </div>
                          <div
                            class="small-container"
                            ng-if="!ctrl.timelapseModel.timelapses[ctrl.dId].settings.duration.isInfinite"
                          >
                            <span class="spacer">/</span>
                            <span class="small"
                              >{{ctrl.timelapseModel.timelapses[ctrl.dId].settings.duration.hours}}:{{ctrl.renderMinutes()}}</span
                            >
                          </div>
                        </div>
                      </div>
                     <div class="row center-row" ng-if="ctrl.timelapseModel.timelapses[ctrl.dId].settings.activeHDRTl">
                        <div class="row left-photo">
                          <img ng-src="img/ShutterIconwhiteback18x18.png" />
                        </div>
                        <div
                          class="row right-text"
                          ng-class="(ctrl.timelapseModel.timelapses[ctrl.dId].settings.duration.isInfinite) ? 'push-left' : ''"
                        >
                          <div class="count">
                            {{ctrl.timelapseModel.timelapses[ctrl.dId].settings.enumeratingTl.currentShutterValue}}
                          </div>
                        </div>
                      </div>
                      <!--
                    <div class="row center-row" ng-if="ctrl.timelapseModel.timelapses[ctrl.dId].settings.activeExposure">
                      <div class="row left-photo">

                        <img class="ramp-2" ng-src="img/ramp.svg"/>
                      </div>
                      <div class="row right-text" ng-class="(ctrl.timelapseModel.timelapses[ctrl.dId].settings.duration.isInfinite) ? 'push-left' : ''">

                        <div class="count">{{ctrl.getCurrentShutter()}}<span class="gotham-light">s</span></div>
                        <div class="small-container" ng-if="!ctrl.timelapseModel.timelapses[ctrl.dId].settings.duration.isInfinite">
                          <span class="spacer">/</span>
                          <span class="small">{{ctrl.getCurrentIso()}}<span class="gotham-light">iso</span></span>
                        </div>
                      </div>
                    </div>
                  -->
                    </div>
                  </div>
                  <div
                    class="swipe-hint center-text gotham-light"
                    ng-if="!ctrl.hasSwiped && thumbCapable"
                  >
                    Swipe right to view thumbnails
                    <div class="fadingEffect"></div>
                  </div>
                </div>
              </ion-slide>
              <ion-slide>
                <div class="sub-slide2">
                  <div class="photo-container" ng-if="thumbCapable">
                    <div class="row row-center center">
                      <div class="col center image-preview">
                        <div
                          class="img-container"
                          ng-click="ctrl.toggleHistogram()"
                        >
                          <div
                            ng-if="!ctrl.histogram || !ctrl.isBtClassicConnected()"
                            class="thumb white-box"
                            ng-class="(ctrl.isBtClassicConnected()) ? '': 'defaultThumb'"
                            style="background-image: linear-gradient(rgba(0, 0, 0, {{ctrl.backgroundGradient}}), rgba(0, 0, 0, {{ctrl.backgroundGradient}})), url({{ctrl.thumb}});"
                          >
                            <ion-spinner
                              icon="circles"
                              ng-show="ctrl.showSpinner && ctrl.isBtClassicConnected()"
                              class="circlesreg"
                            ></ion-spinner>
                          </div>
                          <div
                            class="hist-chart white-box"
                            ng-if="ctrl.histogram"
                          >
                            <canvas
                              id="bar"
                              class="chart chart-bar"
                              chart-data="ctrl.histogramItems.data"
                              chart-labels="ctrl.histogramItems.labels"
                              chart-series="ctrl.histogramItems.series"
                              chart-options="ctrl.histogramItems.options"
                              chart-colours="ctrl.histogramItems.colours"
                            ></canvas>
                            <ion-spinner
                              icon="circles"
                              ng-show="ctrl.showSpinner && ctrl.isBtClassicConnected()"
                              class="circleshist"
                            ></ion-spinner>
                            <div
                              class="camSettings black text-center gotham-light"
                            >
                              <span
                                class="shutter"
                                ng-if="ctrl.camSettings.shutter.value"
                                >{{ctrl.camSettings.shutter.value}}s</span
                              >
                              <span
                                class="aperture"
                                ng-if="ctrl.camSettings.aperture.value"
                                >f/{{ctrl.camSettings.aperture.value}}</span
                              >
                              <span
                                class="iso"
                                ng-if="ctrl.camSettings.iso.value"
                                >ISO {{ctrl.camSettings.iso.value}}</span
                              >
                            </div>
                          </div>
                          <div
                            class="helper-hist text-center gotham-light grey"
                            ng-show="ctrl.showHistText()"
                          >
                            Tap for Histogram
                          </div>
                        </div>
                      </div>
                    </div>
                    <div
                      class="
                        row row-center
                        center
                        text-center
                        gotham-light
                        details-row
                      "
                    >
                      <div class="right-side">
                        Image
                        {{ctrl.currentPhoto}}/{{ctrl.timelapseModel.timelapses[ctrl.dId].settings.enumeratingTl.photos}}
                      </div>
                      <div class="left-side">
                        {{ctrl.time | amDateFormat: 'h:mm a'}}
                      </div>
                    </div>
                    <div
                      class="toggle-contain text-center"
                      ng-if="ctrl.showThumbToggle()"
                    >
                      <ion-toggle
                        ng-change="ctrl.handleToggle(ctrl.deviceModel.btClassic.enabled)"
                        ng-model="ctrl.deviceModel.btClassic.enabled"
                        ng-checked="ctrl.deviceModel.btClassic.enabled"
                        class="grey"
                      >
                        Thumbnail
                      </ion-toggle>
                    </div>
                    <div
                      ng-if="ctrl.tooMuchInterval"
                      class="text-center gotham-book slide-text"
                    >
                      Your interval of
                      {{ctrl.timelapseModel.timelapses[ctrl.dId].settings.interval}}
                      seconds is too fast for thumbnail preview.
                    </div>
                    <div
                      class="row row-center center"
                      ng-if="!ctrl.tooMuchInterval"
                    >
                      <button
                        class="button blue-bg gotham-light white refresh-btn"
                        ng-click="ctrl.refreshImage()"
                        ng-disabled="ctrl.isThumbButtonDisabled()"
                      >
                        Load next image
                      </button>
                    </div>
                  </div>
                  <div
                    class="no-thumbnails text-center gotham-light"
                    ng-if="!thumbCapable"
                  >
                    Thumbnails are not supported for your device.
                  </div>
                </div>
              </ion-slide>
            </ion-slide-box>
          </div>
        </div>
      </ion-slide>
    </ion-slide-box>
  </ion-content>

  <!-- TL Stats -->
  <div class="row fixed-bottom-section" ng-if="!ctrl.bulbMode">
    <div
      class="col text-center"
      ng-if="!ctrl.timelapseModel.timelapses[ctrl.dId].settings.isActive"
    >
      <photo-button
        id="tlButton"
        partial-url="TLButton"
        on-item-click="ctrl.startTl()"
        animate-time="{{ctrl.tlDelay}}"
        animate-max="{{ctrl.tlMax}}"
        button-opacity="{{ctrl.opacity}}"
        processing="ctrl.processing"
      ></photo-button>
      <br />
      <div
        class="stats"
        ng-if="ctrl.isNumber(ctrl.getTotalPhotos())"
        ng-class="ctrl.timelapseModel.timelapses[ctrl.dId].settings.activeDelay && ctrl.timelapseModel.timelapses[ctrl.dId].settings.activeExposure ? 'smaller' : '' "
      >
        <div>
          <div class="photos"></div>
          <div class="stat">{{ctrl.getTotalPhotos()}}</div>
        </div>
        <div>
          <div class="duration"></div>
          <div class="stat">{{ctrl.getFinalTLLength()}}s</div>
        </div>
        <div
          ng-if="ctrl.timelapseModel.timelapses[ctrl.dId].settings.activeDelay"
        >
          <div class="delay"></div>
          <div class="stat">{{ctrl.getDelaySeconds() - ctrl.countDown}}s</div>
        </div>
        <div
          ng-if="ctrl.timelapseModel.timelapses[ctrl.dId].settings.activeExposure"
        >
          <div class="ramp"></div>
          <div class="stat">On</div>
        </div>
        <div
          ng-if="ctrl.timelapseModel.timelapses[ctrl.dId].settings.activeBulbExposure"
        >
          <div class="ramp"></div>
          <div class="stat">On</div>
        </div>
        <div
          ng-if="ctrl.timelapseModel.timelapses[ctrl.dId].settings.activeISOExposure"
        >
          <div class="ramp"></div>
          <div class="stat">On</div>
        </div>
      </div>
    </div>
    <div
      class="row text-center center bottom-buttons"
      ng-if="ctrl.timelapseModel.timelapses[ctrl.dId].settings.isActive"
    >
      <button
        class="button white-btn gotham-book tl-btn one"
        ng-click="ctrl.pauseTl()"
      >
        {{ctrl.pauseOrResumeText}}
      </button>
      <button
        class="button white-btn gotham-book tl-btn two"
        ng-click="ctrl.endTl()"
      >
        End
      </button>
    </div>
  </div>

  <div class="row fixed-bottom-section" ng-if="ctrl.bulbMode">
    <div class="col text-center">
      <div class="red gotham-light bulb-warning {{ctrl.errorClass}}">
        Make sure your camera is set to bulb
      </div>
      <photo-button
        partial-url="bulbButton"
        on-item-click="ctrl.startOrStopBulb()"
        ng-if="!ctrl.model1.settings.isActive"
      ></photo-button>
      <photo-button
        partial-url="bulbButtonEnd"
        on-item-click="ctrl.startOrStopBulb()"
        ng-if="ctrl.model1.settings.isActive"
        animate-time="{{ctrl.model1.duration.animationValues.current}}"
        animate-max="{{ctrl.model1.duration.animationValues.maxTimelapse}}"
      ></photo-button>
      <div
        class="stats"
        ng-if="ctrl.isNumber(ctrl.getTotalPhotos())"
        ng-class="ctrl.timelapseModel.timelapses[ctrl.dId].settings.activeDelay && ctrl.timelapseModel.timelapses[ctrl.dId].settings.activeExposure ? 'smaller' : '' "
      >
        <div>
          <div class="photos"></div>
          <div class="stat">{{ctrl.getTotalPhotos()}}</div>
        </div>
        <div>
          <div class="duration"></div>
          <div class="stat">{{ctrl.getFinalTLLength()}}s</div>
        </div>
        <div
          ng-if="ctrl.timelapseModel.timelapses[ctrl.dId].settings.activeDelay"
        >
          <div class="delay"></div>
          <div class="stat">{{ctrl.getDelaySeconds() - ctrl.countDown}}s</div>
        </div>
        <div
          ng-if="ctrl.timelapseModel.timelapses[ctrl.dId].settings.activeExposure"
        >
          <div class="ramp"></div>
          <div class="stat">On</div>
        </div>
      </div>
    </div>
    <!-- <div class="row text-center center" >
      <button class="button white-btn gotham-book bulb-btn one" ng-click="ctrl.finishBulb()">Finish</button>
    </div> -->
  </div>
</ion-view>
