<ion-popover-view>
  <ion-header-bar>
    <h1 class="title">Connected Pulses</h1>
  </ion-header-bar>
  <ion-content class="white-bg device-popover">
    <ion list class="gotham-book">

      <div ng-repeat="pulse in vm.connectedPulses" >
        <ion-checkbox ng-class="vm.checkbox(pulse)" ng-model="pulse.isSelected" on-hold="vm.holdMe(pulse)" ng-change="vm.onCheckboxChange(pulse)">
          {{pulse.localStorageInfo.nickname}}
        </ion-checkbox>
      <div>

    </ion-list>
  </ion-content>
</ion-popover-view>

<!-- ng-change="vm.updateSelected(pulse)" -->
