<div class="fw-loading">
  <div class="fw-backdrop">
    <div class="gotham-light center-text padding" >Gathering information about your pulse<ellipsis-animated></ellipsis-animated>
    </div>
    <div class="gotham-light center-text padding red" ng-if="firmwareError">We weren't able to fetch the firmware update. Please make sure you have a good data connection and try again.
    </div>
  </div>
  <div class="bulldozer-entry padding">
    <img src="img/bulldozer.svg">
  </div>
  <div ng-if="firmwareError" class="bulldozer-fire padding">
    <img src="img/bulldozer-fire.svg">
  </div>

  <div class="firmware-cancel-button">
    <button class="button white-btn gotham-book" ng-click="cancelUpdate()">Cancel</button>
  </div>

</div>
