<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg version="1.1" id="videoButton" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="120px" height="120px" viewBox="0 0 120 120" enable-background="new 0 0 120 120" xml:space="preserve">
  <circle id="outerRing" fill="none" stroke="#FFFFFF" stroke-width="4" stroke-miterlimit="10" cx="60" cy="60" r="48"/>
  <circle id="innerRing" on-touch="vm.onItemClick()" ng-class="vm.model.settings.isActive ? 'hideButton' : 'showButton'" fill="#FF0707" stroke="#1E1E1E" stroke-width="4" stroke-miterlimit="10" cx="60" cy="60" r="42"/>
  <path id="stopButton" on-touch="vm.onItemClick()" ng-class="vm.model.settings.isActive ? 'showButton' : 'hideButton'" fill="#FF0000" d="M81.732,78.904c0,1.973-1.613,3.586-3.585,3.586H41.852c-1.971,0-3.584-1.613-3.584-3.586
  	v-37.81c0-1.971,1.612-3.584,3.584-3.584h36.295c1.972,0,3.585,1.613,3.585,3.584V78.904z"/>
</svg>
